.fondoazul{
    --background:#002138;
}
.azul{
    color:#002138;
}
.amarillo{
    color:goldenrod;
}

.fondoamarillo{
    --background:goldenrod;
}
.letras{
    font-family: Arial;
    color: black;
}

.letrasblancas{
    font-family: Arial;
    color: white;
}